<div class="content">
    <div class="form-wrap">
        <form [formGroup]="getIssuesForm" class="issues-list-form" (submit)="getIssuesSubmit()">
            <div class="user-name">
                <!-- <label for="user-name-input">User name</label> -->
                <input formControlName="username" type="text" name="user-name-input" class="user-name-input input" placeholder="User name">
            </div>
            <div class="repo-name">
                <!-- <label for="repo-name-input">Repo name</label> -->
                <input formControlName="reponame" type="text" name="repo-name-input" class="repo-name-input input" placeholder="Repo name">
            </div>
            <div class="issue-number">
                <input formControlName="issueNumber" type="number" name="issue-number-input" class="issue-number input" placeholder="#" title="Issue number. Leave empty to get up to 30 last issues.">
            </div>
            <button type="submit" class="get-issues-btn">Get Issues</button>
        </form>
    </div>
</div>