<div class="content" *ngIf="selectedIssue">
    <div class="header-message">
        <div class="title-wrap">
            <div class="title">{{selectedIssue?.info?.title}}</div>
            <div class="number">#{{selectedIssue?.info?.number}}</div>
        </div>
        <div class="opened-by-wrap">
            <div class="state-icon open">
                <img src="../../../../assets/iopen.svg">
                <div class="state">{{selectedIssue?.info?.state}}</div>
            </div>
            <div class="note"><a [href]="selectedIssue.info.user.html_url">{{selectedIssue?.info?.user?.login}}</a> opened this issue {{ createDateFromNow }}</div>
        </div>
    </div>
    <div class="body">{{selectedIssue?.info?.body}}</div>
    <hr>
</div>
