.controls {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  width: 15rem;
  border: 1px solid rgba(172, 172, 172, 0.582);
  border-radius: 10px;
  .time-track-info {
    font-size: 1.5rem;
  }
  .play-icon {
    height: 50px;
    width: 50px;
    position: relative;
    bottom: 12px;
    left: 1px;
    background-image: url('../../../../../assets/play_arrow-white-48dp.svg');
    background-repeat: no-repeat;
  }

  .pause-icon {
    height: 50px;
    width: 50px;
    position: relative;
    bottom: 12px;
    left: 1px;
    background-image: url('../../../../../assets/pause-white-48dp.svg');
    background-repeat: no-repeat;

  }
}
