@use '../../colors.scss' as colors;


.container {
    display: flex;
    flex-direction: column;
}
.header {
    height: 35px;
}

.content {
    display: flex;
    app-issue-info {
        width: 100%;
    }
    app-issues-list {
        border-right: 2px colors.$borders solid;
        width: 60rem;
    }
}

@media(max-width: 970px) {
}