@use 'src/app/colors' as colors;

.header {
    height: 3rem;
    border-bottom: 1px colors.$borders solid;
}

.content {
    width: 100%;
    background-color: colors.$bgiilist;
    .list {
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }
}